<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title th:text="#{page.editMovie}"></title>
<th:block layout:fragment="meta">
    <meta name="description" content="Edit a movie in Movie Store." />
</th:block>
</head>
<body>
    <th:block layout:fragment="main">
        <h1 class="title has-text-centered"
            th:text="#{page.editMovie.title}"></h1>
        <h2 class="subtitle has-text-centered" th:text="${movie.title}"></h2>
        <div class="box big-form">
            <div class="notification is-danger"
                th:if="${errors.size() > 0}">
                <button type="button" class="delete"></button>
                <ul class="error-list">
                    <li th:each="error : ${errors}" th:text="${error}"></li>
                </ul>
            </div>
            <form th:action="@{/movie/edit}" th:object="${movie}"
                method="post" class="validate-form" id="registerForm"
                name="registerForm">
                <input type="hidden" name="returnUrl"
                    th:value="${returnUrl}" />
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field" for="title">
                            <span th:text="#{label.movie.title}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input"
                                    id="title" name="title"
                                    th:field="*{title}"
                                    th:attr="required-field=#{message.movie.error.titleRequired}" />
                                <span class="has-text-danger"
                                    id="title-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field"
                            for="description">
                            <span th:text="#{label.movie.description}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea"
                                    id="description" name="description"
                                    rows="10" th:field="*{description}"
                                    th:attr="required-field=#{message.movie.error.descriptionRequired}"></textarea>
                                <span class="has-text-danger"
                                    id="description-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field" for="rating">
                            <span th:text="#{label.movie.rating}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input"
                                    id="rating" name="rating"
                                    th:field="*{rating}"
                                    th:attr="required-field=#{message.movie.error.ratingRequired}" />
                                <span class="has-text-danger"
                                    id="rating-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field"
                            for="releaseYear">
                            <span th:text="#{label.movie.releaseYear}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select id="releaseYear"
                                        name="releaseYear"
                                        th:field="*{releaseYear}"
                                        th:attr="required-field=#{message.movie.error.releaseYearRequired}">
                                        <option
                                            th:each="year : ${years}"
                                            th:value="${year}"
                                            th:text="${year}"></option>
                                    </select>
                                </div>
                                <span class="has-text-danger"
                                    id="releaseYear-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <a th:href="@{${returnUrl}}"
                                    class="button"
                                    th:text="#{label.cancel}"></a>
                                &nbsp;
                                <button type="submit"
                                    class="button is-link"
                                    th:text="#{label.movie.submit}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>