.project
.gradle
.settings
data

*/.gradle
*/!gradle/wrapper/gradle-wrapper.jar
*/bin
*/logs
*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans
*/.idea
*/*.iws
*/*.iml
*/*.ipr
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/

*/src/main/resources/static/dist
*/src/main/resources/static/node_modules
*/src/main/resources/static/webpack-stats.json
*/src/main/resources/templates/layout.html
*/src/main/resources/templates/layout.html.gz
