version: '3'
services:
   account-service:
      build:
         context: .
         dockerfile: dockerfile.accountservice
      volumes:
         - ./data/account-service-logs:/app/logs
      expose:
         - "8000"
      environment:
         - SPRING_DATA_MONGODB_HOST=mongodb
      depends_on:
         - mongodb
   movie-service:
      build:
         context: .
         dockerfile: dockerfile.movieservice
      volumes:
         - ./data/movie-service-logs:/app/logs
      expose:
         - "9000"
      environment:
         - SPRING_DATA_MONGODB_HOST=mongodb
         - SPRING_DATA_ELASTICSEARCH_CLUSTER-NAME=elasticsearch-docker
         - SPRING_DATA_ELASTICSEARCH_CLUSTER-NODES=elasticsearch:9300
      depends_on:
         - mongodb
         - elasticsearch
   website:
      build:
         context: .
         dockerfile: dockerfile.website
      volumes:
         - ./data/website-logs:/app/logs
      expose:
         - "10000"
      environment:
         - SERVICE_ACCOUNTSERVICEURL=http://account-service:8000
         - SERVICE_MOVIESERVICEURL=http://movie-service:9000
      depends_on:
         - account-service
         - movie-service
   mongodb:
      image: mongo:latest
      container_name: "mongodb"
      environment:
         - MONGO_DATA_DIR=/data/db
         - MONGO_LOG_DIR=/dev/null
      volumes:
         - ./data/db:/data/db
      ports:
         - 27017:27017
      command: mongod --smallfiles --logpath=/dev/null 
   elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
      container_name: "elasticsearch"
      environment:
         - cluster.name=elasticsearch-docker
         - bootstrap.memory_lock=true
         - xpack.security.enabled=false
         - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      ulimits:
         memlock:
            soft: -1
            hard: -1
      volumes:
         - ./data/elasticsearch:/usr/share/elasticsearch/data
      ports:
         - 9200:9200 
         - 9300:9300 
   nginx:
      image: nginx:latest
      ports:
         - "80:80"
         - "443:443"
      depends_on:
         - website
      volumes:
         - ./nginx/nginx.conf:/etc/nginx/nginx.conf
         - ./nginx/ssl.pem:/etc/ssl.pem
         - ./nginx/ssl.key:/etc/ssl.key
