<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title th:text="#{page.changePassword}"></title>
<th:block layout:fragment="meta">
    <meta name="description"
        content="Change your password in Movie Store." />
</th:block>
</head>
<body>
    <th:block layout:fragment="main">
        <h1 class="title has-text-centered"
            th:text="#{page.changePassword.title}"></h1>
        <h2 class="subtitle has-text-centered"
            th:text="#{page.changePassword.subtitle}"></h2>
        <div class="box small-form">
            <div class="notification is-danger"
                th:if="${errors.size() > 0}">
                <button type="button" class="delete"></button>
                <ul class="error-list">
                    <li th:each="error : ${errors}" th:text="${error}"></li>
                </ul>
            </div>
            <form th:action="@{/account/changePassword}"
                th:object="${model}" method="post" class="validate-form"
                id="changePasswordForm" name="changePasswordForm">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field"
                            for="currentPassword">
                            <span
                                th:text="#{label.changePassword.currentPassword}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input"
                                    id="currentPassword"
                                    name="currentPassword"
                                    th:attr="required-field=#{message.changePassword.error.currentPasswordRequired}" />
                                <span class="has-text-danger"
                                    id="currentPassword-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field"
                            for="newPassword">
                            <span
                                th:text="#{label.changePassword.newPassword}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input"
                                    id="newPassword" name="newPassword"
                                    th:attr="required-field=#{message.changePassword.error.newPasswordRequired}" />
                                <span class="has-text-danger"
                                    id="newPassword-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label required-field"
                            for="confirmNewPassword">
                            <span
                                th:text="#{label.changePassword.confirmNewPassword}"></span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input"
                                    id="confirmNewPassword"
                                    name="confirmNewPassword"
                                    th:attr="required-field=#{message.error.confirmNewPasswordRequired},
                                    matches-field=newPassword,matches-field-error=#{message.error.confirmNewPasswordNoMatch}" />
                                <span class="has-text-danger"
                                    id="confirmNewPassword-message"
                                    style="display: none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit"
                                    class="button is-link"
                                    th:text="#{label.changePassword.submit}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>