<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title th:text="#{page.changePassword}"></title>
</head>
<body>
    <div class="box small-form" layout:fragment="main">
        <div class="notification is-danger" th:if="${errors.size() > 0}">
            <button type="button" class="delete"></button>
            <ul class="error-list">
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>
        </div>
        <form th:action="@{/account/changePassword}"
            th:object="${model}" method="post" class="validate-form"
            id="changePasswordForm" name="changePasswordForm">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label required-field"
                        for="currentPassword"
                        th:text="#{label.changePassword.currentPassword}"></label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input"
                                id="currentPassword"
                                name="currentPassword"
                                th:attr="required-field=#{message.changePassword.error.currentPasswordRequired}" />
                            <span class="has-text-danger"
                                id="currentPassword-message"
                                style="display: none"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label required-field"
                        for="newPassword"
                        th:text="#{label.changePassword.newPassword}"></label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input"
                                id="newPassword" name="newPassword"
                                th:attr="required-field=#{message.changePassword.error.newPasswordRequired}" />
                            <span class="has-text-danger"
                                id="newPassword-message"
                                style="display: none"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label required-field"
                        for="confirmNewPassword"
                        th:text="#{label.changePassword.confirmNewPassword}"></label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input"
                                id="confirmNewPassword"
                                name="confirmNewPassword"
                                th:attr="required-field=#{message.error.confirmNewPasswordRequired},
                                    matches-field=newPassword,matches-field-error=#{message.error.confirmNewPasswordNoMatch}" />
                            <span class="has-text-danger"
                                id="confirmNewPassword-message"
                                style="display: none"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit"
                                class="button is-primary"
                                th:text="#{label.changePassword.submit}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>