@import "_colors";

.small-form {
    max-width: 700px;
    margin: auto;
}

.big-form {
    max-width: 900px;
    margin: auto;
}

.error-list {
    list-style: disc;
    margin-left: 10px;
}

.required-field {
    padding-right: 5px;
    position: relative;
}

.required-field:after {
    content: '*';
    color: $moviestore-red;
    position: absolute;
    top: 0;
    right: -5px;
}